---
import { color, minMd, spacing } from "@chromaui/tetra";
import { css, Global } from "@storybook/theming";

const styles = css`
  :root {
    --docsearch-primary-color: ${color.blue500};
    --docsearch-muted-color: ${color.slate600};
  }

  ${minMd} {
    #docsearch {
      width: 100%;
    }
  }

  .DocSearch-Button {
    background: ${color.white};
    box-shadow: ${color.blackTr10} 0 0 0 1px inset;
    color: ${color.slate500};

    line-height: 16px;
    margin: 0;
    padding: 10px 14px;
    min-width: ${spacing[36]};
    max-width: ${spacing[48]};
    width: 100%;

    &:focus,
    &:focus:hover {
      background: ${color.white};
      box-shadow: ${color.blue500} 0 0 0 1px inset;
      color: ${color.slate500};
    }

    &:hover {
      background: ${color.white};
      box-shadow: ${color.blackTr10} 0 0 0 1px inset;
      color: ${color.slate500};
    }
  }

  .DocSearch-Button .DocSearch-Search-Icon {
    color: currentColor;
    height: 1em;
    margin-right: 8px;
    width: 1em;
  }

  .DocSearch-Button-Placeholder {
    font-size: 1em;
    padding: 0;
  }

  .DocSearch-Button-Keys {
    min-width: 0;
  }

  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: initial;
  }

  // Using an id here to overcome specificity of global input styles
  // These are the same styles as DocSearch defaults
  #docsearch-input {
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--docsearch-text-color);
    flex: 1;
    font: inherit;
    font-size: 1.2em;
    height: 100%;
    outline: none;
    padding: 0 0 0 8px;
    width: 80%;
  }

  .DocSearch-Button-Key,
  .DocSearch-Commands-Key {
    align-items: center;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    box-shadow: none;
    color: #666er;
    display: inline-flex;
    font-family: inherit;
    font-size: 11px;
    height: 16px;
    justify-content: center;
    line-height: 17px;
    margin-right: 2px;
    min-width: 16px;
    padding: 0 2px;
    user-select: none;
    width: auto;
  }

  .DocSearch-Label {
    margin-left: 2px;
  }
`;
---

<Global styles={styles} />
<div id="docsearch" style="height: 36px"></div>
<script is:inline src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
  window.docsearch({
    container: "#docsearch",
    appId: "I751GHI6QM",
    indexName: "chromatic",
    apiKey: "47fb24662853f14569501e42986f2781",
  });
</script>

<style>
  @keyframes glow {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  #docsearch:empty {
    animation: glow 1.5s ease-in-out infinite;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
    background: rgba(0, 0, 0, 0.01);
    color: transparent;
    cursor: progress;
    width: 9rem;
    border-radius: 40px;
  }
</style>
