---
const { title, siteUrl, siteTitle, description, baseUrl, twitterUsername } =
  Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content="Astro description" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title} • Chromatic docs</title>
<meta name="description" content={description} />

<meta property="og:type" content="article" />
<meta property="og:url" content={`${siteUrl}${baseUrl}/`} />
<meta property="og:title" content={`${title} • ${siteTitle}`} />
<meta property="og:description" content={description} />
<meta property="og:image" content={`${siteUrl}${baseUrl}/assets/og-docs.png`} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={`@${twitterUsername}`} />
<meta name="twitter:title" content={`${title} • ${siteTitle}`} />
<meta name="twitter:description" content={description} />
<meta
  name="twitter:image"
  content={`${siteUrl}${baseUrl}/assets/og-docs.png`}
/>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link href="prism.css" rel="stylesheet" />
<link
  rel="shortcut icon"
  type="image/png"
  href={`${siteUrl}${baseUrl}/assets/icon-chroma-64x64.png`}
  sizes="16x16 32x32 64x64"
/>
