---
import type { MarkdownHeading } from 'astro';
import { FullWidthContainer } from '@chromatic-com/tetra';
import '@docsearch/css';
import SEO from '../components/SEO.astro';
import Scripts from '../components/Scripts.astro';
import EditAndFeedback from '../components/EditAndFeedback.astro';
import { ContentContainer } from '../components/ContentContainer';
import { MarketingFooter } from '../components/Footer/MarketingFooter';
import { MarketingHeader } from '../components/Header/MarketingHeader';
import { LayoutGrid } from '../components/LayoutGrid';
import Navigation from '../components/Navigation/Navigation.astro';
import { projectRoot } from '../util';
import OnThisPage from '../components/OnThisPage.astro';
import SearchMeta from '../components/SearchMeta.astro';
import { globalStyles } from '../styles/global';
import {
  navGroups,
  flattenedNavItems,
} from '../components/Navigation/nav-groups';

type Props = {
  title: string;
  description: string;
  id: string;
  file?: string;
  headings: MarkdownHeading[];
};

const { title, description, id } = Astro.props;
const { pathname } = Astro.url;

const editUrl = Astro.props.file?.replace(projectRoot, '').replace('src/', '');
---

<html lang="en">
  <head>
    <SEO title={title} description={description} />
    <link rel="sitemap" href="/docs/sitemap-index.xml" />
    <style is:global set:html={globalStyles}></style>
    <Scripts />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K35MZQHR"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <MarketingHeader client:visible />
    <FullWidthContainer>
      <LayoutGrid showOnThisPage={Astro.props.headings.length > 0}>
        <Navigation
          url={pathname.replace(/\/$/g, '')}
          navGroups={navGroups}
          flatNavItems={flattenedNavItems}
        />
        <ContentContainer>
          <SearchMeta id={id} flattenedNavItems={flattenedNavItems} />
          <slot />
          <EditAndFeedback title={title} editUrl={editUrl} />
        </ContentContainer>
        {
          Astro.props.headings.length > 0 && (
            <OnThisPage headings={Astro.props.headings} />
          )
        }
      </LayoutGrid>
    </FullWidthContainer>
    <MarketingFooter />
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js.hs-scripts.com/45602133.js"></script>
  </body>
</html>
