---
import { Icon } from '@chromatic-com/tetra';
import type { MarkdownHeading } from 'astro';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description: string;
  id: string;
  file?: string;
  headings: MarkdownHeading[];
}

const { id, title, description, headings, file } = Astro.props;
---

<BaseLayout
  title={`FAQ | ${title}`}
  description={description}
  headings={headings}
  file={file}
  id={id}
>
  <p>
    <a class="link primary with-icon" href="/docs/faq">
      <Icon name="arrowleftalt" /> Back to all FAQs
    </a>
  </p>
  <slot />
</BaseLayout>
