---
import type { MarkdownLayoutProps } from "astro";
import { Container } from "@chromaui/tetra";
import { getCollection } from "astro:content";
import "@docsearch/css";
import "@fontsource-variable/nunito-sans";
import SEO from "../components/SEO.astro";
import Scripts from "../components/Scripts.astro";
import { Wrapper } from "../components/Wrapper";
import { MarketingFooter } from "../components/Footer/MarketingFooter";
import { MarketingHeader } from "../components/Header/MarketingHeader";
import { MainWrapper } from "../components/MainWrapper";
import Navigation from "../components/Navigation/Navigation.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const {
  frontmatter: { title, description },
} = Astro.props;
const { pathname } = Astro.url;
const getStarted = await getCollection("getStarted");
const configuration = await getCollection("configuration");
const modes = await getCollection("modes");
const snapshot = await getCollection("snapshot");
const collaborate = await getCollection("collaborate");
const ci = await getCollection("ci");
const account = await getCollection("account");

const introduction = {
  id: "introduction.md",
  slug: "",
  collection: "getStarted",
  data: {
    title: "Introduction",
    description:
      "Chromatic is a cloud based toolchain built around Storybook to help teams develop robust UI components faster together",
    sidebar: { order: 1 },
  },
} as any;

const navItems = [
  // Manually add the introduction page to the top of the list
  {
    title: "Get Started",
    items: getStarted,
    defaultOpen: true,
    timeline: true,
  },
  {
    title: "Configuration",
    items: configuration,
  },
  {
    title: "Modes",
    items: modes,
  },
  {
    title: "Snapshot",
    items: snapshot,
  },
  {
    title: "Collaborate",
    items: collaborate,
  },
  {
    title: "CI",
    items: ci,
  },
  {
    title: "Account",
    items: account,
  },
];

const siteUrl = "https://www.chromatic.com";
const baseUrl = import.meta.env.BASE_URL;
const siteTitle = "Chromatic docs";
const twitterUsername = "chromaui";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      siteUrl={siteUrl}
      siteTitle={siteTitle}
      description={description}
      baseUrl={baseUrl}
      twitterUsername={twitterUsername}
    />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */
      }

      html {
        outline: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      html,
      body {
        font-family: "Nunito Sans Variable", sans-serif;
        background: #fff;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
    <Scripts />
  </head>
  <body>
    <MarketingHeader client:load />
    <Container client:load>
      <MainWrapper client:load>
        <Navigation url={pathname.replace(/\/$/g, "")} navItems={navItems} />
        <Wrapper client:load>
          <slot />
        </Wrapper>
      </MainWrapper>
    </Container>
    <MarketingFooter client:load />
  </body>
</html>
