---
import type { MarkdownLayoutProps } from "astro";
import { Container } from "@chromaui/tetra";
import { MarketingFooter } from "../components/Footer/MarketingFooter";
import { MarketingHeader } from "../components/Header/MarketingHeader";
import { Wrapper } from "../components/Wrapper";
import "@fontsource-variable/nunito-sans";
import { Sidebar } from "../components/Sidebar";
import { getCollection } from "astro:content";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const {
  frontmatter: { title, description },
} = Astro.props;
const { pathname } = Astro.url;
const getStarted = await getCollection("getStarted");
const configuration = await getCollection("configuration");
const modes = await getCollection("modes");
const snapshot = await getCollection("snapshot");
const collaborate = await getCollection("collaborate");
const ci = await getCollection("ci");
const account = await getCollection("account");
const sidebar = [
  {
    title: "Get Started",
    items: getStarted,
    defaultOpen: true,
    timeline: true,
  },
  {
    title: "Configuration",
    items: configuration,
  },
  {
    title: "Modes",
    items: modes,
  },
  {
    title: "Snapshot",
    items: snapshot,
  },
  {
    title: "Collaborate",
    items: collaborate,
  },
  {
    title: "CI",
    items: ci,
  },
  {
    title: "Account",
    items: account,
  },
];

const siteUrl = "https://www.chromatic.com";
const baseUrl = "/docs";
const siteTitle = "Chromatic docs";
const twitterUsername = "chromaui";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} • Chromatic docs</title>
    <meta name="description" content={description} />

    <meta property="og:type" content="article" />
    <meta property="og:url" content={`${siteUrl}${baseUrl}/`} />
    <meta property="og:title" content={`${title} • ${siteTitle}`} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={`${siteUrl}${baseUrl}/assets/og-docs.png`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={`@${twitterUsername}`} />
    <meta name="twitter:title" content={`${title} • ${siteTitle}`} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={`${siteUrl}${baseUrl}/assets/og-docs.png`}
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="prism.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/png"
      href={`${siteUrl}${baseUrl}/assets/icon-chroma-64x64.png`}
      sizes="16x16 32x32 64x64"
    />

    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */
      }

      html {
        outline: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      html,
      body {
        font-family: "Nunito Sans Variable", sans-serif;
        background: #fff;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .content-wrapper {
        display: flex;
        gap: 2.5rem;
        margin: 64px 0;
      }
    </style>
  </head>
  <body>
    <MarketingHeader client:load />
    <Container client:load>
      <div class="content-wrapper">
        <Sidebar
          client:load
          url={pathname.replace(/^\/|\/$/g, "")}
          sidebar={sidebar}
        />
        <Wrapper client:load>
          <slot />
        </Wrapper>
      </div>
    </Container>
    <MarketingFooter client:load />
  </body>
</html>
